.container {
  position: relative;
  background-color: #FFFFFF;
  padding: 5px 5px 20px 5px;
  height: 81px;
  box-shadow: -11px 20px 22px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.sticker {
  position: absolute;
  left: 40px;
  top: -14px;
  width: 13px;
}