@use "@/styles/variables" as *;

.container {
  z-index: 2;
  font-family: $font-pln;

  h3 {
    color: $color-green;
    font-family: $font-snlR;
    margin: 0;
    font-weight: 500;
    font-size: 26px;
  }

  p{
    color: $color-grey;
    width: 335px;
    text-align: center;
  }

  .selectIcon{
    color: $color-grey;
  }

}