@use "@/styles/variables" as *;


.container {
  z-index: 5;
  background-color: $color-green;
  margin-top: -20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-milk;
  font-family: $font-pln;
  font-size: 14px;
  gap: 20px;
  padding-bottom: 60px;

  h3 {
    font-family: $font-snlR;
    font-size: 26px;
    margin: 40px 0 0 0;
  }

  .location {
    width: 335px;
    margin: 0 0 ;
    text-align: center;
  }

  .locationApologies {
    width: 335px;
    margin: 0 0 ;
    text-align: center;
  }
}