@use "@/styles/variables" as *;

.container {
  padding: 0 20px;
  align-items: center;
  font-family: $font-pln;
  color: $color-grey;

  h3 {
    font-family: $font-snlR;
    color: $color-green;
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  .desc {
    text-align: center;
    margin: 0;
  }

  .collapse {
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    align-self: start;

    p{
      font-size: 14px;
      text-align: center;
      font-family: $font-pln;
      font-weight: 400;
      color: $color-grey;
      margin: 0;
    }
  }
}