@use 'styles/variables' as *;
@font-face {
    font-family: 'Vasek';
    src: url('assets/Vasek_Italic_0.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'SnellRound';
    src: url('assets/snellroundhand_black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellRound';
    src: url('assets/snellroundhand_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('assets/palatinolinotype_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('assets/palatinolinotype_bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Palatino';
    src: url('assets/palatinolinotype_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Palatino';
    src: url('assets/palatinolinotype_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$with: 410px;
$phone-with: 100%;


.view {
    position: relative;
    align-items: center;
    width: $with;
    background-color: #F8F1E1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;


    p {
        line-height: 22px;
    }
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

input, select, textarea {
    font-size: 16px;
}

.ant-input {
    transition: all 1s ease-in-out;
    text-align: center;
}

.ant-select-dropdown {
    font-size: 16px !important;
    padding: 0 !important;
    text-align: center;
    margin: 0 !important;
    height: fit-content;
    border-left: 1px solid #60824C;
    border-right: 1px solid #60824C;
    border-bottom: 1px solid #60824C;
}
.ant-select-item {
    border-bottom: 1px solid #60824C;

}
.ant-select-item:first-child {
    border-top: 1px solid #60824C;
}

.ant-select .ant-select-arrow {
    color: #60824C;
    transition: transform 0.5s ease; /* Плавная анимация */
}

.ant-select-open .ant-select-arrow {
    color: #60824C;
    transform: rotate(180deg); /* Переворачиваем иконку при открытии */
}


.ant-modal-content {
    border-radius: 0 !important;
}

.ant-modal-wrap {
    padding-right: 17px !important;
    height: 100hv !important;
}

.ant-modal {
    //margin: 0 !important;
}

.customModal {
    width: $with !important;
    padding: 0 !important;
    position: relative;

    h3 {
        font-family: 'SnellRound', sans-serif;
        color: #60824c;
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .modal-line {
        width: 76px;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.ant-modal-content{
    padding: 0 !important;
}

.iframe {
    width: 100%;
    height: 215px;
}

@media (max-width: 431px) {
    .view {
        width: $phone-with;
    }
    .ant-modal-wrap {
        padding-right: 0 !important;
    }

    .customModal {
        width: 100% !important;
        max-width: 100% !important;
    }
}