@use "@/styles/variables" as *;

.heart {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
  top: 18px;
  right: -25px;

  p {
    margin: 0 0 0 -10px;
    font-family: $font-vsk;
    font-size: 20px;
  }
}


.item {
  position: relative;
  flex-direction: column;
  gap: 10px;
  color: $color-green;

  > p {
    margin: 0;
    font-size: 10px;
  }

  h3 {
    font-family: $font-pln;
    margin: 0;
    font-size: 20px;
  }
}