@use "@/styles/variables" as *;

.container {
  text-align: center;
  font-family: $font-pln;
  color: $color-grey;
  z-index: 3;

  h3 {
    color: $color-green;
    font-size: 26px;
    font-family: $font-snlR;
    margin: 60px 0 20px 0;
    font-weight: 500;
  }

  p{
    font-size: 14px;
    margin: 0;
    text-align: center;
  }

  .photos {
    justify-content: center;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;

    .line12 {
      z-index: 20;
      position: absolute;
      width: 100%;
      bottom: 85px;
      transform: rotate(-7deg);
    }
  }
}