@use "@/styles/variables" as *;

.container {
  flex-direction: column;
  margin-bottom: 60px;
  color: $color-green;
  h3 {
    font-size: 26px;
    font-family: $font-snlR;
    color: $color-green;
    font-weight: 500;
    margin: 67px 0 38px 0;
  }

  .item {
    width: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: visible;

    .number {
      text-align: center;
      font-family: $font-vsk;
      font-size: 40px;
    }

    .label {
      text-align: center;
      font-family: $font-vsk;
      font-size: 30px;
    }
  }
}